body {
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
    /* margin: 50px 140px 120px 140px; */

}

/* header section */

.banner {
    background-image: url('d-reso/Rectangle\ 15.png'), url('resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    /* max-width: 1320px; */
    height: 600px;
    flex-shrink: 0;
    align-items: center;
    border-radius: 16px;
    margin: 50px 140px 0 140px;
    border-radius: 16px;
}

.banner-text {
    display: inline-block;
    /* align-items: center;     */
    /* justify-content: center; */
}

.banner-p {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 177px;
    margin-right: 530px;
    margin-left: 530px;
}

.banner-h4 {
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
    margin-left: 344px;
    margin-top: 16px;
}


/* main section */

/* first container */

.first-container p {
    display: flex;
    margin-left: 608px;
}

.off65 {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 120px;
}

.our-holiday {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 48px;
    margin-bottom: 16px;
}

.all-cate {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
}

.img-new-year {
    justify-content: center;
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    /* fill: url(<path-to-image>), lightgray 50% / cover no-repeat; */
    margin-top: 48px;
    margin-left: 399px;
    margin-bottom: 0;
}

/* second container section */

.second-container {
    display: flex;
    justify-content: left;
    background-image: url('d-reso/Vector.png'), url('d-reso/Vector.png'), url('resources/Vectorrr.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin-top: 120px;
    margin-left: 140px;
    margin-right: 140px;
}

.banner2-text {
    margin-left: 126px;
    text-align: left;
}

.welcometo-p {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
    margin-top: 126px;
    margin-bottom: 0;
}

.dolor-shit {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
    margin-top: 24px;
    margin-bottom: 0;
}

.join-now {
    display: block;
    color: #FFF;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 48px;
    margin-left: 32px;
}

.banner2-icon {
    margin-top: 68px;
    margin-right: 138px;
}

/* third container section  */
.third-container {
    background-image: url('d-reso/Vector\ pdt.png');
    background-repeat: no-repeat;
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: 126px;
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    /* fill: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%); */
}

.pdt-join {
    display: inline-block;
    margin-top: 100px;
}

.PDT,
.btn-join-now2 {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.PDT {
    margin-left: 385px;
    margin-right: 380px;
    color: #070211;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    margin-bottom: 0px;
}

.red {
    color: #F00;
    text-align: center;

}

.btn-join-now2 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 576px;
    margin-top: 48px;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    border: 0;
}


/* fourth container section  */

.fourth-container {
    display: flex;
    margin-left: 140px;


}

.fc-column1 {
    margin-right: 70px;
}

.fccol1-1st {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 104px;
    margin-bottom: 16px;
}

.fccol1-2nd {
    margin-top: 0;
    margin-bottom: 22px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;

}

.fccol1-3rd {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
    margin-top: 0;
}

.fc-column2 {
    margin-right: 118px;
}

.fccol2-image {
    margin-top: 15px;
    margin-bottom: 0;
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;
    border-radius: 364.844px;
    background: url(<path-to-image>), lightgray -91.279px 0px / 150.038% 100% no-repeat;
    background-color: #FFF;
    border: 15px solid #F00;
    padding: 20px;
}

.fc-column3 {
    text-align: left;
}

.fccol3-1st {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 112px;
    margin-bottom: 0;
}

.fccol3-2nd {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 276px;
    margin-top: 16px;
    margin-bottom: 0;
}

.fccol3-3rd {
    margin-top: 43px;
}


/* sixth container section  */

.sixth-container {
    margin-top: 120px;
    margin-left: 140px;
    margin-right: 140px;
}

/* .sc-all-text {} */

.sc-text1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.sc-text2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 22px;
}

.sc-text3 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    margin-top: 0;
    margin-bottom: 0;
}

.product-img {
    margin-top: 48px;

}

.prim1 {
    margin-right: 24px;
    margin-bottom: 24px;
}

.prim2 {
    margin-right: 24px;
    margin-bottom: 24px;
}

.prim3 {
    margin-bottom: 24px;
}

.prim4 {
    margin-right: 24px;
    margin-bottom: 0;
}

.prim5 {
    margin-right: 24px;
}

/* .prim6 {} */



/* seventh container section */

.seventh-container {
    margin-top: 120px;
    margin-left: 140px;
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.seventh-all {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.email {
    margin-top: 80px;
    margin-bottom: 40px;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}

.htype {
    margin-top: 0;
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.simple {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    margin: 22px 212px 48px;
}

.subscribe-sec {
    display: flex;
    justify-content: center;
}

.type-mail {
    width: 438px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px 0 0 50px;
    background: #FFF;
    padding-left: 30px;
    border: 0;
}

.subscribe {
    width: 210px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.subscribe-sec>input::placeholder {
    color: rgba(7, 2, 17, 0.30);
    text-align: left;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 80px;
}


/* footer section  */

/* footer > p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
} */

.footer-bg {
    margin-top: 120px;
    width: 1600px;
    height: 609px;
    flex-shrink: 0;
    background: #070211;

}

/* footer-text1 section */

.footer-text1 {
    display: flex;
    justify-content: space-between;
    gap: 559px;
}

.footer-phone-site {
    margin-right: auto;
}

.address,
.phone,
.site {
    text-align: left;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.address {
    width: 375px;
    margin-top: 120px;
    margin-left: 140px;
}

.phone {
    margin-top: 120px;
    margin-bottom: 0px;

}

.site {
    margin-top: 0px;
}

.fa-phone-volume,
.fa-globe {
    margin-right: 16px;
}

/* s-icon section */

.s-div {
    justify-content: center;
    margin: 48px;
    margin-left: 640px;
}

.s-icon {
    margin-left: 24px;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
}

hr {
    width: 1320px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    border: none;
}

/* bottom footer section */

.footer-text2 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    /* gap: 559px; */
}

.left,
.right {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.left {
    margin-left: 140px;
}

.right {
    margin-right: 140px;
}